.ten-container{
    width: 100%;
    height: 400px;
    background-color: rgb(65, 97, 203);
    color: white;
}
.ten-content{
    margin-top: 60px !important;
}
.ten-content > h6{
    margin-left: 10px !important;
}
.line{
    width: 100px;
    height: 2px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.symbol1{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;

}
.ten-content > ul > li{
    list-style: none;
    padding-bottom: 10px;
}
.ten-box{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    border-left: 5px solid rgb(239, 74, 178);
}
.ten-box > h2{
    color: rgb(13, 57, 235);
    padding-top: 10PX;
    padding-left: 5PX;
}
.line1{
    width: 100px;
    height: 2px;
    background-color: rgb(13, 57, 235);
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.phone1{
    color: rgb(13, 57, 235);
    padding-left: 5px;
    padding-bottom: 20px;
}
.email1{
    color: rgb(13, 57, 235);
    padding-left: 5px;
}

@media screen and (max-width:600px) {
    .ten-container{
        position: absolute;
        top: 8550px;
        height: 570%;
        margin-top: 80px;
        height: 215%;
    }
    .ten-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .ten-content > ul > li{
        
        margin-right: 18px !important;

    }
}